body {
    height: 100vh;
    margin: 0;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
}
.content {
    margin: auto;
    max-width: fit-content;
}

a {
    display: flex;
    justify-content: center;
    padding: 100px;
}