body {
    font-family: "Shadows Into Light", cursive;
    background-color: black;
    margin: 0;
    padding: 20px 0;
}

div {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

img {
    height: 760px;
    width: auto;
    display: block;
}

textarea {
    position: absolute;
    top: 170px;         
    left: 80px;         
    width: 360px;
    height: 448px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    line-height: 27px;
    overflow: hidden;
    resize: none;
} 

.date {
    position: absolute;
    top: 76px;
    left: 130px;
    border: none;
    background: transparent;
}

.day {
    position: absolute;
    top: 112px;
    left: 130px;
    border: none;
    background: transparent;
}

.prev {
    position: absolute;
    top: 30px;
    left: 30px;
}

.prev:disabled {
  background-color: #ccc; 
  color: #888;            
  cursor: not-allowed; 
  opacity: 0.5;
}

.next {
    position: absolute;
    top: 30px;
    right: 30px;
}

.savebtn {
    position: absolute;
    bottom: 85px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    border-color: aliceblue;
    height: 36px;
    width: 60px;
    background-color: rgb(84, 162, 235);
}

span {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%); 
}